<!-- WARNING: Do not auto-format this child template with a generic HTML formatter.
Template expressions and control tags can be split across lines and break rendering.
Make small manual edits only, then save and test in the browser. -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Block Buster{% endblock %}

{% block content %}
    <div class="slider movie-items">
      <div class="container">
        <div class="row">
          <div class="social-link">
            <p>Follow us:</p>
            {% for link in social_links %}
            <a class="{{ link.anchor_class }}" href="{{ link.url }}">
              <i class="{{ link.icon_class }}"></i>
            </a>
            {% endfor %}
          </div>

          <div class="slick-multiItemSlider">
            {% for slider in sliders %}
            <div class="movie-item">
              <div class="mv-img">
                <a href="{{ slider.anchor_url }}">
                  <img
                    src="{% static slider.image_src %}"
                    alt="{{ slider.movie_title }}"
                    width="{{ slider.image_width }}"
                    height="{{ slider.image_height }}"
                  />
                </a>
              </div>
              <div class="title-in">
                <div class="cate">
                  <span class="blue"><a href="#">{{ slider.movie_genre }}</a></span>
                </div>
                <h6><a href="{{ slider.anchor_url }}">{{ slider.movie_title }}</a></h6>
                <p><i class="ion-android-star"></i><span>{{ slider.lower_rating }}</span> /{{ slider.upper_rating }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="movie-items">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-8">
            <div class="title-hd">
              <h2>in theater</h2>
              <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
            </div>

            <div class="tabs">
              <ul class="tab-links">
                <li class="active"><a href="#tab1">#Popular</a></li>
                <li><a href="#tab2"> #Coming soon</a></li>
              </ul>

              <div class="tab-content">
                <div id="tab1" class="tab active">
                  <div class="row">
                    <div class="slick-multiItem">
                      {% for movie in theater_popular %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movie.img_src %}"
                              alt="{{ movie.movie_title }}"
                              width="{{ movie.img_width }}"
                              height="{{ movie.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{{ movie.anchor_url }}">Read more <i class="ion-android-arrow-dropright"></i></a>
                          </div>
                          <div class="title-in">
                            <h6><a href="{{ movie.anchor_url }}">{{ movie.movie_title }}</a></h6>
                            <p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div id="tab2" class="tab">
                  <div class="row">
                    <div class="slick-multiItem">
                      {% for movie in theater_coming_soon %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movie.img_src %}"
                              alt="{{ movie.movie_title }}"
                              width="{{ movie.img_width }}"
                              height="{{ movie.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{{ movie.anchor_url }}">Read more <i class="ion-android-arrow-dropright"></i></a>
                          </div>
                          <div class="title-in">
                            <h6><a href="{{ movie.anchor_url }}">{{ movie.movie_title }}</a></h6>
                            <p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="title-hd">
              <h2>on tv</h2>
              <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
            </div>

            <div class="tabs">
              <ul class="tab-links-2">
                <li><a href="#tab21">#Popular</a></li>
                <li class="active"><a href="#tab22"> #Coming soon</a></li>
              </ul>

              <div class="tab-content">
                <div id="tab21" class="tab">
                  <div class="row">
                    <div class="slick-multiItem">
                      {% for movie in tv_popular %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movie.img_src %}"
                              alt="{{ movie.movie_title }}"
                              width="{{ movie.img_width }}"
                              height="{{ movie.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{{ movie.anchor_url }}">Read more <i class="ion-android-arrow-dropright"></i></a>
                          </div>
                          <div class="title-in">
                            <h6><a href="{{ movie.anchor_url }}">{{ movie.movie_title }}</a></h6>
                            <p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div id="tab22" class="tab active">
                  <div class="row">
                    <div class="slick-multiItem">
                      {% for movie in tv_coming_soon %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movie.img_src %}"
                              alt="{{ movie.movie_title }}"
                              width="{{ movie.img_width }}"
                              height="{{ movie.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{{ movie.anchor_url }}">Read more <i class="ion-android-arrow-dropright"></i></a>
                          </div>
                          <div class="title-in">
                            <h6><a href="{{ movie.anchor_url }}">{{ movie.movie_title }}</a></h6>
                            <p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="sidebar">
              <div class="ads">
                {% if sidebar_ad %}
                <img
                  src="{% static sidebar_ad.img_src %}"
                  alt=""
                  width="{{ sidebar_ad.img_width }}"
                  height="{{ sidebar_ad.img_height }}"
                />
                {% endif %}
              </div>

              <div class="celebrities">
                <h4 class="sb-title">Spotlight Celebrities</h4>
                {% for celeb in celebrities %}
                <div class="celeb-item">
                  <a href="{{ celeb.anchor_url }}">
                    <img
                      src="{% static celeb.celebrity_url %}"
                      alt="{{ celeb.celebrity_name }}"
                      width="{{ celeb.img_width }}"
                      height="{{ celeb.img_height }}"
                    />
                  </a>
                  <div class="celeb-author">
                    <h6><a href="{{ celeb.anchor_url }}">{{ celeb.celebrity_name }}</a></h6>
                    <span>{{ celeb.celebrity_type }}</span>
                  </div>
                </div>
                {% endfor %}
                <a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="trailers">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-12">
        <div class="title-hd">
          <h2>in theater</h2>
          <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
        </div>
        <div class="videos">
          <div class="slider-for-2 video-ft">
            {% if trailer %}
            <div>
              <iframe
                class="item-video"
                src="#"
                data-src="{{ trailer.trailer_url }}"
              ></iframe>
            </div>
            {% endif %}
          </div>

          <div class="slider-nav-2 thumb-ft">
            {% for item in trailer_items %}
            <div class="item">
              <div class="trailer-img">
                <img
                  src="{% static item.img_src %}"
                  alt="{{ item.img_alt }}"
                  width="{{ item.img_width }}"
                  height="{{ item.img_height }}"
                />
              </div>
              <div class="trailer-infor">
                <h4 class="desc">{{ item.description }}</h4>
                <p>{{ item.duration }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="latestnew">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-8">
			<div class="ads">
  				{% if latestnews_ad %}
 				 <img
    			src="{% static latestnews_ad.img_src %}"
    			alt=""
    			width="{{ latestnews_ad.img_width }}"
    			height="{{ latestnews_ad.img_height }}"
  				/>
  			{% endif %}
			</div>
            <div class="title-hd">
              <h2>Latest news</h2>
            </div>
            <div class="tabs">
              <div class="tab-content">
                <div id="tab31" class="tab active">
                  <div class="row">
					{% if featured_news %}
					<div class="blog-item-style-1">
  					<img
						src="{% static featured_news.img_src %}"
						alt="{{ featured_news.img_alt }}"
						width="{{ featured_news.img_width }}"
						height="{{ featured_news.img_height }}"
					  />
					<div class="blog-it-infor">
						<h3><a href="#">{{ featured_news.title }}</a></h3>
						<span class="time">{{ featured_news.time }}</span>
						<p>{{ featured_news.content }}</p>
					</div>
					</div>
					{% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="morenew">
              <div class="title-hd">
                <h3>More news on Blockbuster</h3>
                <a href="#" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>
              </div>
			  <div class="more-items">
				<div class="left">
					{% for news in more_left_news %}
					<div class="more-it">
					<h6><a href="#">{{ news.title }}</a></h6>
					<span class="time">{{ news.time }}</span>
					</div>
					{% endfor %}
				</div>

				<div class="right">
					{% for news in more_right_news %}
					<div class="more-it">
					<h6><a href="#">{{ news.title }}</a></h6>
					<span class="time">{{ news.time }}</span>
					</div>
					{% endfor %}
				</div>
				</div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="sidebar">
              <div class="sb-twitter sb-it">
                <h4 class="sb-title">Tweet to us</h4>
				<div class="slick-tw">
					{% for tweet in tweets %}
					<div class="tweet item" id="">
						{{ tweet.content }}
					</div>
					{% endfor %}
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}